<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ajuda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/ajuda.css') }}">

</head>
<body>
    <div id="aux">
   
        <h2>DÚVIDAS COMUNS</h2>
        <!-- Pergunta 1 -->
        <h3>Como posso criar um perfil no site?</h3>
        <p>Para criar um perfil em nosso site, clique no botão "Registrar-se" na parte superior direita da página e preencha todas as informações solicitadas no formulário de inscrição. Após preencher todos os campos necessários, clique em "Enviar" e seu perfil será criado com sucesso.</p>
        
        <!-- Pergunta 2 -->
        <h3>É necessário pagar alguma taxa para se candidatar a vagas?</h3>
        <p>Não, nosso site não cobra nenhuma taxa dos candidatos para se candidatarem a vagas. Todas as oportunidades listadas em nosso portal são gratuitas para os candidatos.</p>
        
        <!-- Pergunta 3 -->
        <h3>Como posso receber notificações sobre novas vagas?</h3>
        <p>Para receber notificações sobre novas vagas, certifique-se de ter ativado as notificações por e-mail nas configurações do seu perfil. Dessa forma, você será informado sempre que uma nova vaga que corresponda ao seu perfil for publicada em nosso site.</p>
        
        <!-- E assim por diante... -->
        <!-- Pergunta 4 -->
        <h3>Como posso me destacar para os recrutadores?</h3>
        <p>Para se destacar para os recrutadores, é essencial manter seu perfil atualizado com todas as suas habilidades, experiências e certificações relevantes. Além disso, personalize sua carta de apresentação para cada vaga e pesquise sobre a empresa antes de se candidatar para mostrar seu interesse e preparação.</p>
        
        <!-- Pergunta 5 -->
        <h3>Quanto tempo leva para receber uma resposta após enviar minha candidatura?</h3>
        <p>O tempo de resposta varia de empresa para empresa. Algumas empresas respondem rapidamente, enquanto outras podem levar algumas semanas. Recomendamos verificar o status da sua candidatura regularmente e manter seu perfil atualizado para aumentar suas chances de ser notificado sobre o progresso do seu processo seletivo.</p>
        
        <!-- Pergunta 6 -->
        <h3>É seguro fornecer informações pessoais no site?</h3>
        <p>Sim, é seguro fornecer suas informações pessoais em nosso site. Nós valorizamos sua privacidade e implementamos medidas de segurança para proteger seus dados. No entanto, sempre recomendamos verificar a política de privacidade do site e garantir que você esteja em uma conexão segura ao inserir informações sensíveis.</p>
        
        <!-- Pergunta 7 -->
        <h3>Posso receber dicas para entrevistas e preparação de currículo?</h3>
        <p>Sim! Oferecemos recursos e artigos em nosso site com dicas valiosas para ajudá-lo na preparação de entrevistas, elaboração de currículos e desenvolvimento de habilidades. Fique atento à seção de recursos ou blog do nosso site para obter informações atualizadas e conselhos especializados.</p>
        
        <!-- Pergunta 8 -->
        <h3>Como posso encontrar vagas que correspondam ao meu perfil?</h3>
        <p>Para encontrar vagas que correspondam ao seu perfil, utilize os filtros de pesquisa avançada em nosso site. Você pode filtrar por cargo, localização, salário e outros critérios relevantes. Além disso, recomendamos configurar alertas de emprego para receber notificações sobre oportunidades que se alinham às suas habilidades e interesses.</p>
    </div>

</body>
</html>